.settings
target
bin
gen
captures
.project
.classpath
*/.settings
*/target
*/bin
**/test-reports
*/gen
*/.project
*/.classpath
**/build
.gradle
.idea
*.iml
local.properties
import
.DS_Store
perftesting